elpa
.python-environments
tramp
/saves
recentf
/transient/history.el
/games/
/anaconda-mode/
/url/
/tree-sitter/
/share/
/projects
/org/
/org-persist/
/multisession/
/eshell/
/eglot-java-eclipse-jdt-cache/
/bookmarks
/auto-save-list/
/customize.el
